body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f3f4f6;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
}

h1 {
  text-align: center;
  color: #2563eb;
  margin-bottom: 2rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 80%;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  margin: 5px;
}

button:hover {
  background: #1d4ed8;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: #f9fafb;
  margin-bottom: 10px;
  border-radius: 8px;
}

.task.completed h3 {
  text-decoration: line-through;
  color: gray;
}

.task-actions button {
  margin-left: 8px;
  background: #e5e7eb;
  color: black;
}

.task-actions button:hover {
  background: #d1d5db;
}